body {
  background-color: #2196f3;
}

.chatBox {
  width: 400px;
  margin: auto;
  overflow: none;
}

.appTitle {
  color: white;
  text-align: center;
}

#chatlog {
  height: 400px;
  background-color:white;
  border: 1px solid black;
  overflow: auto;
}


#name {
  color: blue;
}